body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: block;
    position: fixed;
    top: 0%;
    right: 0;
    bottom: 0%;
    left: 0;
}

#map {
    height: 100%;
}

#popup, header, #legend {
  position: fixed;
  z-index: 10;
  background: white;
  margin: 0 0 0 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
}

header {
    top: 10px;
    left: 10px;
}

header a {
  color: black;
}

#popup {
  display: none;
  top: 10px;
  right: 10px;
}

#legend {
  bottom: 30px;
  right: 10px;
  z-index: 9;
}

h4 {
  margin: 0;
}

.entry-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  
}
